<h1> Harborview Encounters </h1>
<div>-logout-</div>

<br>
<br>

<h2>Kayla's Dashboard---------------------------------------Open New Encounter </h2>

<br>
<br>

<div>Encounter Title, Date, Dept.------------------------------------------------------------------------------------------------CLOSE</div>

<br>

<div>Encounter Title, Date, Dept.------------------------------------------------------------------------------------------------CLOSE</div>


<br>

<div>Encounter Title, Date, Dept.------------------------------------------------------------------------------------------------CLOSE</div>

<br>

<div>Encounter Title, Date, Dept.------------------------------------------------------------------------------------------------CLOSE</div>

<br>

<div>Encounter Title, Date, Dept.------------------------------------------------------------------------------------------------CLOSE</div>

<br>

<div>Encounter Title, Date, Dept.------------------------------------------------------------------------------------------------CLOSE</div>


<br>
<br>
<br>
<br>