<h1> Harborview Encounters </h1>

<br>
<br>

<h2>Open New Encounter </h2>

<br>
<br>
<br>


<div>Title ________________</div>

<br>

<div>Description________________</div>
<div>------------------------------------------------------</div>
<div>------------------------------------------------------</div>

<br>
<br>


<div>Urgency:</div>
<br>
<div>STAT __ (reason for requesting STAT here)</div>
<div>Rush __</div>
<div>Casual __</div>


<br>
<br>


<div>Type: (Which department should we flag?)</div>
<br>

<div>IT __ </div>
<div>Management __</div>
<div>HR __</div>
<div>Surgical __</div>
<div>Cytology __</div>
<div>Histology __</div>
<div>Slide Library __</div>
<div>SCCA __</div>
<div>NWH __</div>
<div>UWMC __</div>

<br>
<br>
<br>


<div>SAVE</div>

<br>

<div>CLOSE</div>

<br>
<br>